/* App */

.app {
	display: grid;
	grid-template-areas: "header" "content";
	grid-template-rows: 1fr 10fr;
}

.app > header {
	grid-area: header;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.app > header > h1 {
	margin-left: 1rem;
}

.app > header > nav {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.app > header > nav > a {
	padding: 2px 0;
	margin: 2px 0;
	text-decoration: none;
}

.app > main {
	grid-area: content;
	margin: 1rem;
}

@media screen and (min-width: 600px) {
	.app {
		grid-template-areas: "header header header" ". . ." ". content .";
		grid-template-columns: 1fr 3fr 1fr;
		grid-template-rows: 1fr 1fr 10fr;
	}

	.app > header {
		flex-direction: row;
	}

	.app > header > nav {
		align-items: center;
		margin-right: 1rem;
		flex-direction: row;
	}

	.app > header > nav > a {
		padding: 0 5px;
		margin: 0 5px;
	}
}